[2013-06-18 11:22] baibaratsky opened #4 "X17"

[2013-06-18 11:22] baibaratsky opened #5 "X18"

[2013-06-18 11:23] baibaratsky opened #6 "DoPayment Soap"

[2013-06-18 12:52] baibaratsky opened #7 "Certificate -> Passport"
В терминологии WM аттестат по-английски называется «passport».

[2013-06-19 09:51] #7 closed, assigned to nobody

[2013-06-20 12:19] baibaratsky opened #9 "_addElementToXml()"
Мне кажется излишним хранить `$_xml` как свойство класса. Предлагаю просто пользоваться локальной переменной в методе `getXml()`. В таком случае необходимо переработать метод `_addElementToXml()`, возможно, как-то так:

[code]

Какие есть мысли на этот счет?

[2013-06-20 13:01] baibaratsky opened #10 "WMApiRequest::AUTH_MD5 и WMApiRequest::AUTH_SECRET_KEY"
В ближайшее время я добавлю X18, в котором, кроме AUTH_CLASSIC, возможно подписывание запроса MD5 или передача secret_key. Может, есть смысл генерить ошибку, если другим интерфейсам передан такой параметр. Либо в кострукторе, либо в `getUrl()`. Опять же, если выдавать ошибку в конструкторе, то есть смысл устанавливать там значение свойства `$_url`, а в `getUrl()` просто возвращать его. Это, кстати

[2013-06-21 10:21] #9 closed, assigned to baibaratsky

[2013-06-21 10:57] #10 closed, assigned to baibaratsky

[2013-06-21 13:24] baibaratsky opened #11 "X18: pursefrom"
http://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_X18

Назвал параметр `pursefrom` как

[code]

Но есть одна загвоздка:

То есть в таком случае это уже не кошелек плательщика. Вот теперь думаю.
Может, надо переименовать?

[2013-06-21 15:09] #5 closed, assigned to baibaratsky

[2013-06-21 15:41] baibaratsky opened #12 "X9"

[2013-06-21 15:44] baibaratsky opened #13 "X2"

[2013-06-21 22:42] #11 closed, assigned to nobody

[2013-06-26 17:00] baibaratsky opened #15 "WMRequestSigner: WMID"
Что-то мне не очень нравится, что у нас WMID нужно сначала в конструктор WMRequestSigner передавать, а потом еще в запрос. Может, как-то отрефакторим?
Только мне бы не хотелось убирать WMID из конструктора WMRequestSigner, чтобы его можно было использовать автономно, без привязки к остальной библиотеке.

[2013-06-26 17:45] #6 closed, assigned to baibaratsky

[2013-06-26 17:49] baibaratsky opened #16 "SOAP"
SOAP нам изрядно архитектуру попортил. В том числе пришлось, например, такие грязные штуки юзать: https://github.com/magnetic-project/wm/blob/master/WebMoney.php#L29
Надо думать, как отрефакторить теперь все это.

[2013-08-06 14:41] #4 closed, assigned to nobody

[2013-08-28 10:38] headfirst opened #21 "X11 ошибка при разборе xml"
Ошибка возникает при попытке получить данные с аттестата уровня "Аттестат псевдонима"
![selection_001](https://f.cloud.github.com/assets/4114331/1041305/eaae5ffe-0fcd-11e3-8dbf-8f886a48e5ce.png)

[2013-08-28 10:44] headfirst opened #22 "X9 проблема с валидацией"
При валидаторе запроса X9 указанно два правила валидации и похоже что оба выбрасывают exception
![selection_002](https://f.cloud.github.com/assets/4114331/1041338/c58bff50-0fce-11e3-9476-2e14ae13beac.png)

[2013-08-28 10:52] #12 closed, assigned to baibaratsky

[2013-10-12 14:34] headfirst opened #24 "fullAccess -> fullaccess"
class WMX11Response строка 54 нужно написать все слово в нижнем регистре, как оно приходит от wm

[2013-11-05 11:51] kotchuprik opened #25 "Реализация недокументированных интерфейсов WebMoney"
Краткое описание интерфейсов http://wmxml.narod.ru/

[2013-11-09 14:11] #22 closed, assigned to nobody

[2013-11-09 14:11] #21 closed, assigned to nobody

[2013-11-19 09:35] #16 closed, assigned to nobody

[2013-11-19 09:36] #15 closed, assigned to nobody

[2013-11-19 11:12] #13 closed, assigned to nobody

[2013-11-19 11:12] #24 closed, assigned to nobody

[2013-11-19 18:39] baibaratsky opened #29 "Submit to Packagist"

[2013-12-04 14:49] kotchuprik opened #38 "Мегасток интерфейсы обновления данных и удаления мерчанта"

[2013-12-06 20:56] #29 closed, assigned to baibaratsky

[2013-12-06 20:56] baibaratsky opened #40 "PSR-2"

[2014-02-10 13:31] baibaratsky opened #51 "PSR-4"

[2014-02-12 13:18] #40 closed, assigned to baibaratsky

[2014-02-12 13:18] #51 closed, assigned to baibaratsky

[2014-02-14 22:26] baibaratsky opened #52 "Response::className()"
Like in Yii2

[2014-03-25 07:00] #52 closed, assigned to nobody

[2014-06-25 11:29] baibaratsky opened #58 "Simple usage examples"

[2015-01-27 17:40] baibaratsky opened #62 "Add sha256 signatures"

[2015-03-30 09:42] luyenok opened #63 "Add the php-webmoney dependency error"
I got error when Adding the php-webmoney dependency:

root@do [/home/the247/public_html/wmzapi]# php composer.phar require baibaratsky/php-webmoney:0.10.*
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested pac

[2015-03-30 10:05] baibaratsky commented on #63
Could you show your composer.json?

[2015-03-30 10:10] luyenok commented on #63
{
    "name": "baibaratsky/php-webmoney",
    "description": "WebMoney API PHP Library",
    "keywords": ["webmoney", "megastock", "capitaller", "WMXI", "WMSigner"],
    "license": "BSD-3-Clause",
    "homepage": "http://github.com/baibaratsky/php-webmoney",
    "authors": [
        {
            "name": "Andrei Baibaratsky",
            "email": "andrei@baibaratsky.com"
        },
        {

[2015-03-30 10:12] luyenok commented on #63
I just downloaded and uploaded to my server, did not change anythings.

[2015-03-30 10:15] baibaratsky commented on #63
It's my composer.json. Please show me one from your project root directory.

[2015-03-30 10:24] luyenok commented on #63
sorry, I have not anything, I justed downloaed php-webmoney-master.zip file and uploaded to my server :(

[2015-03-30 10:34] baibaratsky commented on #63
If you want to use Composer, you don’t have to upload any files from this repository. Please read [the Composer docs](https://getcomposer.org/doc/00-intro.md) to discover how to use it.

To use the library without Composer, add `require` calls for all the library files.

[2015-03-30 15:32] luyenok commented on #63
thank you, I have added require calls for all the library files and tested X2 (transfer fund), I got the error: Request errors: - Array
I try to print_r ($request->getErrors()); and result is: Array ( [1] => Array ( [0] => transactionExternalId ) )

Can you help me ? I just want to using X2 to transfer fund to other purse.

[2015-03-30 15:43] baibaratsky commented on #63
Could you attach your code please?

[2015-03-30 15:51] luyenok commented on #63
yes, how to attach ? This form accept image file only.

[2015-03-30 15:55] baibaratsky commented on #63
Just put your code in the message here. Please use [markdown](https://guides.github.com/features/mastering-markdown/) to highlight the code.

[2015-03-30 15:58] luyenok commented on #63
<?
require_once('WebMoney.php');
require_once('Signer.php');
require_once('Request/Requester/CurlRequester.php');
require_once('Request/Requester/AbstractRequester.php');
require_once('Api/X/X2/Request.php');
require_once('Api/X/X2/Response.php');

use baibaratsky\WebMoney\WebMoney;
use baibaratsky\WebMoney\Signer;
use baibaratsky\WebMoney\Request\Requester\CurlRequester;
use baibaratsky\WebMoney\

[2015-03-30 16:02] luyenok commented on #63
the result is `Request errors: Array ( [1] => Array ( [0] => transactionExternalId ) ) - Array`

[2015-03-30 16:40] luyenok commented on #63
you can download full code here http://muathe247.com/wmzapiok/testX2.zip

[2015-03-30 17:12] baibaratsky opened #64 "About the requests validation"
Create a wiki-page describing how to use the validation

[2015-03-30 17:24] baibaratsky commented on #63
You have to set a required parameter `transactionExternalId`. Put this string in your code:
[code]
`$myTransactionId` should be a positive integer, unique for the WMID that signs the request. It’s not allowed to perform two transactions with the same ID.

[2015-03-31 01:11] luyenok commented on #63
thank you for your support, I got new error:
`Payment error: signature is incorrect. planstr=1427764213510054Z222213656185Z2820325325120.010Test payment0 step=5`

[2015-03-31 07:48] baibaratsky commented on #63
Does `payerPurse` belong to `signerWmid`?

[2015-04-01 07:13] luyenok commented on #63
yes, payerPurse belong to signerWmid, I have tested X9 and it working file (show Purse's balance), but got error with X2 :(

[2015-04-01 08:08] baibaratsky commented on #63
There was a small bug with the signature in the X2 request class. Please update the library and try again.

[2015-04-01 08:12] luyenok commented on #63
yahoooooooooooo !!!!!!!!!!!!!!!!!!
`Successful payment, transaction id: 1175379855`

thank you very much,

[2015-04-01 08:15] baibaratsky commented on #63
You’re welcome!

[2015-04-01 08:15] #63 closed

[2015-04-01 08:28] luyenok commented on #63
Hic, it working one time only, got bellow error when try agian
`Payment error: Out of present range. step=91`

[2015-04-01 08:32] baibaratsky commented on #63
[code]

[2015-04-01 08:33] luyenok commented on #63
what's your mean ?

[2015-04-01 08:47] luyenok commented on #63
same problem here https://translate.google.com.vn/translate?hl=vi&sl=ru&tl=en&u=http%3A%2F%2Fcafe.owebmoney.ru%2Findex.php%3Fshowtopic%3D6206

it working if TransactionExternalId lenght <10 only, got error `Out of present range` if Out of present range lenght >10.

[2015-04-01 08:58] baibaratsky commented on #63
I thought you use the same value for `transactionExternalId`.
So since `transactionExternalId` is a 32-bit integer, you shouldn’t use values greater than `(2^32)-1`.

[2015-05-14 13:52] mitalcoi opened #65 "реализация toArray в Response-классах"
Было бы очень удобно иметь в классах X\Xn\Response публичный метод toArray для
конвертации ответа Webmoney в массив. Например, будет удобно логировать ответы Webmoney:
[code]
Я могу реализовать для всех Respponse toArray методы и сделать Pull-request, если дадите добро.

[2015-05-14 13:58] kotchuprik commented on #65
Привет.

Архитектура библиотеки предусматривает подмену [CurlRequester](https://github.com/baibaratsky/php-webmoney/blob/master/Request/Requester/CurlRequester.php) своим классом  и тем самым можно логировать запросы и ответы :)

Если возникла необходимость получения массивом всех проперти, то или Reflection вам в помощь или можно воспользоваться менее болезненным [get_object_vars](http://php.net/

[2015-05-14 14:54] mitalcoi commented on #65
get_object_vars и (array) не очень помогут. первый метод выведет данные в нечитаемом формате, а второй вообще не выводит protected-свойства. Перекрыть CurlRequester может и можно, равно как и сделать форк и написать свою реализацию, но все-же иметь фичу "из-коробки", как мне кажется, было бы очень удобно.

[2015-05-14 14:59] kotchuprik commented on #65
Важно понимать, что логирование запросов — отладка. Зачем перегружать код, который не будет использоваться в продакшн режиме? Для таких ситуаций CurlRequester и можно «подменить». И для отладки, я считаю, можно выводить и не особо читаемый массив :)

Может все таки есть другая причина для появления toArray() в классах?

[2015-05-14 15:29] mitalcoi commented on #65
не могу с Вами согласиться - в случае работы с платежными системами логирование запросов и ответов - не отладка, а часть рабочего процесса, эта информация не должна быть утеряна.

[2015-05-15 13:59] mitalcoi opened #66 "Ошибка подписи"
не получается использовать X2 - следующая ошибка: "signature is incorrect. planstr=<строка> step=5" Auth type у нас - classic, проблема именно в том как подпись формируется. на WMXI(библиотека, которую раньше использовали) все подписывалось нормально. при этом остальные интерфейсы (например X9) работают нормально.

[2015-05-15 14:00] baibaratsky commented on #66
Покажите код

[2015-05-15 14:01] baibaratsky commented on #65
Я смогу заняться этим вопросом после 23 мая.

[2015-05-15 14:06] mitalcoi commented on #66
[code]

[2015-05-15 14:17] baibaratsky commented on #66
Попробуйте
[code]

[2015-05-15 14:25] mitalcoi commented on #66
у меня php 5.5, объекты по ссылке должны передаваться по умолчанию железно, разве нет?

[2015-05-15 14:39] mitalcoi commented on #66
единственно в чем вижу разницу - protectionCode:null, в то время как в WMXI шла просто пустая строка  - "". Может из-за этого формироваться подпись неверная? Может сделать по умолчанию значение в protectionCode = ""?

[2015-05-15 15:18] mitalcoi commented on #66
библиотека WMXI перед тем как отдать данные на подпись форсировано преобразует кодировку в windows-1251:
[code]
Может ли это как-то влиять?

[2015-05-15 20:14] baibaratsky commented on #66
У меня до 23 мая очень ограниченный доступ к интернету и мало свободного времени, поэтому, я надеюсь, что @kotchuprik вам поможет.

[2015-05-15 21:05] kotchuprik commented on #66
Если WMXI под рукой, сможете показать примерные исходные строки для подписи?

Для php-webmoney сделать дамп этой конкатенации https://github.com/baibaratsky/php-webmoney/blob/master/Api/X/X2/Request.php#L121
Для WMXI https://github.com/frost-nzcr4/webmoney/blob/master/src/webmoney/WMXI.php#L56

Насчет WIN-1251 по идее проблем не должно быть, данная библиотека работает в нескольких проектах с перев

[2015-05-15 22:14] ilyenkoyaroslav commented on #66
Сталкнулся с такой же проблемой но с X3
Получаю ошибку такого вида:
baibaratsky\WebMoney\Api\X\X3\Response Object
(
    [requestNumber:protected] => 14317174575235
    [operations:protected] => Array
        (
        )

    [returnCode:protected] => -5
    [returnDescription:protected] => signature is incorrect. planstr=Z11303573606014517173575234 step=7
)

[2015-05-15 22:22] kotchuprik commented on #66
@ilyenkoyaroslav покажите код)

[2015-05-15 22:35] ilyenkoyaroslav commented on #66
[code]

[2015-05-15 22:43] kotchuprik commented on #66
Очень странно, а остальные интерфейсы корректно работают? С WMID все в порядке?

[2015-05-15 22:53] ilyenkoyaroslav commented on #66
С WMID всё в порядке + на локальноя машине получаю все транзакции без проблем. До недавнего времени так же было и на хостинге. Файлы связанные с WM не менял.
Остальные интерфейсы сейчас к сожалению проверить не могу.

[2015-05-16 10:50] ilyenkoyaroslav commented on #66
@kotchuprik У Вас нет идея почему может быть так?

[2015-05-16 10:53] kotchuprik commented on #66
А сможете попробовать проверить работоспособность на релизе 0.10.1?

https://github.com/baibaratsky/php-webmoney/releases/tag/v0.10.1

[2015-05-16 11:12] ilyenkoyaroslav commented on #66
@kotchuprik Если не ошибаюсь у меня как раз 0.10.1http://prntscr.com/75t1su

[2015-05-16 11:53] kotchuprik commented on #66
Так, а получится попробовать свежую версию (0.10.3)?
Или есть возможность сверить работу с WMXI, то тоже было бы неплохо..
Потому что такая проблема вероятнее всего связана именно с webmoney (библиотека не менялась, у вас код не менялся, все по старому и внезапно перестало работать), но я не смог ничего найти кроме как подобных тем на форуме и проблем с WMID.

[2015-05-16 16:19] mitalcoi commented on #66
на 0.10.3 тоже самое (X2 не работает) Комментарий пробовал делать латиницей - не помогло. А WMXI работает (как только откатились к WMXI - транзакции стали выполняться без ошибок). При этом X9 работает и там и там

[2015-05-16 16:25] kotchuprik commented on #66
@mitalcoi получилось сделать итоговых строк для подписи? есть видимые различия?

[2015-05-16 16:31] mitalcoi commented on #66
нет! там банальная конкатенация. Request number немного по-разному генерится, не знаю насколько это может иметь значение.
у вас:
[code]
WMXI:
[code]

[2015-05-16 16:39] kotchuprik commented on #66
То есть разница только в requestNumber?
Это не имеет значение, на самом деле. Главное, чтобы каждый следующий requestNumber был больше предыдущего.

[2015-05-16 16:48] mitalcoi commented on #66
это да...но с другой стороны WM ведь опирается на requestNumber при сверке подписи. откуда он знает какое мы ему значение передали? если он раньше возрастал монотонно, а потом резко стал иметь другие значения?

[2015-05-16 16:50] mitalcoi commented on #66
вот:
"reqn	 - целое без знака, макс. количество цифр - 15; всегда должен быть больше номера предыдущего запроса на перевод средств!!! Монотонность возрастания номера учитывается в привязке к WMID, подписывающему запрос." - https://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_X2

У меня, судя по всему, нарушилась монотонность нарастания reqn

[2015-05-16 16:54] kotchuprik commented on #66
WM значет об requestNumber потому мы его передаем. А подпись это вычисление хэша. Насчет монотонности не встречал ранее.

Задам вопрос еще раз — в итоговых строках разница только в requestNumber?

[2015-05-16 16:56] mitalcoi commented on #66
да, разница только в requestNumber.

[2015-05-16 17:03] kotchuprik commented on #66
Очень странно. Виктор, а в данный момент WMXI создает номер запроса больше, чем php-webmoney?

[2015-05-16 22:19] baibaratsky commented on #66
Думаю, что проблема может быть в том, что ранее был передан больший requestNumber. У меня сразу эта мысль была, но отвлекся и не написал.

[2015-05-17 02:47] mitalcoi commented on #66
Да. вот результат сравнения requestNumber
php-webmoney
14318306913668
WMXI
143183069136693
в Базовом Request-классе есть сеттер, так что не проблема - буду устанавливать reqn форсированно сам. Но я думаю в документации стоит оговорить об этой проблеме при переходе с WMXI на вашу библиотеку

[2015-05-17 07:24] baibaratsky commented on #66
Хорошо. Спасибо, @kotchuprik

[2015-05-17 10:13] mitalcoi opened #67 "реализация сертификата Webmoney"
WMXI позволяет использовать сертификат Webmoney для защиты от атаки с подменой DNS. Реализуется очень просто - в корень ложиться сертификат (в WMXI документ называется WebMoneyCA.crt) и затем в CurlRequester добавляется несколько параметров в запрос:
[code]
Что думаете насчет реализации такого улучшения и в php-webmoney?

[2015-05-17 10:22] kotchuprik commented on #66
Можно генератор requestNumber сделать как в WMXI по разрядности.

[2015-05-17 11:35] mitalcoi commented on #66
кстати да, тоже вариант

[2015-05-18 08:28] mitalcoi commented on #66
сделал форсированную установку сеттера, разрядность теперь совпадает - все равно выдает на боевом сервере ошибку:
"signature is incorrect. planstr=14319367646011647242<PURSE_1><PURSE_2>1.890<COMMENT> step=5"

[2015-05-18 10:20] mitalcoi commented on #66
Путем экспериментов удалось выяснить что проблема возникает только если в комментарии к заявке идет кириллица

[2015-05-18 10:51] kotchuprik commented on #66
А ведь про кириллицу спрашивал ранее))
Да, вероятнее всего надо все менять на mb_

[2015-05-18 20:16] ilyenkoyaroslav commented on #66
@kotchuprik Свежие новости с фронтов)
Не меняя ни строчки кода - X3 начал работать - начал грешить на блок от wm временный, но не могу понять, как это связано с сигнатурой?

[2015-05-19 01:17] kotchuprik commented on #66
@ilyenkoyaroslav ни для кого ни секрет, что у WM все через одно место :smiley: Видимо у них подпись это серебряная пуля для ошибок.

[2015-05-19 07:03] baibaratsky commented on #66
@mitalcoi @kotchuprik strlen в Signer используется для бинарных строк. Там в любом случае нужна длина в байтах, а не в символах.

[2015-05-19 07:17] baibaratsky commented on #67
Я это решение не использовал, т. к. у WM были проблемы с актуальностью этого сертификата.
Если эта фича вам нужна, готов подумать о том, как лучше ее прицепить, чтобы не создать новых проблем, тоже после 23-го (или если вдруг время раньше появится).

[2015-05-19 07:21] baibaratsky commented on #66
Если точнее, не только для них, еще для шестнадцатиричных чисел и пароля от ключа. В общем, это не может быть источником неприятностей.

[2015-05-19 08:16] mitalcoi commented on #66
тем не менее, проблема в Signer, ей просто больше негде быть)
строка с кириллическими символами пробрасывается в Signer - и там с ними что-то плохое происходит

[2015-05-19 08:19] baibaratsky commented on #66
У меня в нескольких проектах кириллические строки отлично подписываются. Нет никаких проблем. Думаю, дело все-таки в кодировке.
Какие кодировки у вашего кода, у строки, которая используется в комментарии, у запроса и ответа сервера (если присутствуют)?

[2015-05-19 08:36] mitalcoi commented on #66
у меня сервер на debian, локально стоит ubuntu, кодировка везде и повсюду одна - utf-8

[2015-05-19 11:23] mitalcoi opened #69 "баг с интерфейсом X11"
Пытаюсь воспользоваться интерфейсом X11, получаю ошибку:
[code]
Причина в том, что разбор ожидаемого xml слишком чувствительный, а некоторых параметров в xml может и не быть. Response от этого ломаться не должен.
Вот пример ответа от WM, отсутствует поле certifno/directory, а библиотека ожидает что он будет:
[code]

[2015-05-19 11:33] mitalcoi commented on #69
этот фаст-фикс - https://github.com/baibaratsky/php-webmoney/issues/70 уже дает работающий интерфейс

[2015-05-20 12:33] kotchuprik commented on #69
Закрываю т.к. есть соответствующий pull request (дублирование).

[2015-05-20 12:33] #69 closed

[2015-05-21 12:26] mitalcoi opened #71 "X19 не работает корректно"
после переезда с WMXI интерфейс X19 перестал корректно работать. Всегда возвращается ошибка 404 (указанные параметры не соответствуют участнику системы userinfo/wmid).Решил сравнить результаты "сырого" xml, формируемого вашей библиотекой и WMXI/

php-webmoney:
[code]
wmxi:
[code]

Данные пользователя корреткные 100%, xml генерируемый WMXI возвращает retval=0

[2015-05-21 13:04] mitalcoi commented on #71
все, нашел ошибку. перепутаны firstName и lastName. Чуть не поседел сегодня.

[2015-05-21 21:22] baibaratsky commented on #71
Читаем [доки WebMoney](http://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_X19)

У нас:
[code]

Что перепутано?

[2015-05-21 21:23] kotchuprik commented on #71
:+1:

возможно, пользователь для которого запрашивается криво заполнил свои данные.

[2015-05-22 07:52] mitalcoi commented on #71
да, пользователь перепутал. приношу извинения)

[2015-05-22 07:52] #71 closed

[2015-05-22 07:53] baibaratsky commented on #71
Хорошо :)
Остальными вопросами займусь в ближайшие дни.

[2015-05-25 10:25] baibaratsky commented on #65
Поясните, пожалуйста, почему вы хотите конвертировать ответы в массив.
Если у вас стоит задача логировать ответы WM, я вам настоятельно рекомендую хранить их в сыром виде, потому как в общении с представителями платежной системы массивы будут не очень удобны: у вас будут спрашивать запросы/ответы. Для внутренних расследований тоже сырые данные более полезны. Не забывайте, что ответ может прийти та

[2015-05-25 10:30] baibaratsky commented on #65
Кстати, у себя в проектах я использую подмену `CurlRequester` для логирования всех запросов и ответов платежных систем. Можно реализовать еще такую опцию.

[2015-05-25 12:28] #66 closed

[2015-05-25 13:51] #67 closed

[2015-05-25 16:00] mitalcoi commented on #65
я думаю что вы правы. Действительно, иметь сырые данные более полезно.

[2015-05-25 17:14] #65 closed

[2015-05-25 17:16] baibaratsky commented on #65
Добавил метод `getRawData()` в классы `Response`. Если нужны будут полные запросы и ответы (с заголовками), можно будет добавить соответсвующую логику в `CurlRequester`.

[2015-05-25 17:45] mitalcoi commented on #65
Отлично. Спасибо за улучшения!

[2015-05-25 17:46] baibaratsky commented on #65
Пожалуйста :)

[2015-08-15 17:07] #62 closed

[2015-08-15 17:14] #58 closed

[2015-09-01 08:08] #25 closed

[2015-10-12 12:35] nelli7 opened #73 "Payment error: signature is incorrect."
Hello! I am trying to use X2 interface of web money. I did as written here https://github.com/baibaratsky/php-webmoney/wiki/X2 , I only wrote my parametrs such as wmid, purse, path to key file, etc, but got this error: Payment error: signature is incorrect. Could you please tell me how to fix this error, where to look?) I saw this too: https://github.com/baibaratsky/php-webmoney/issues/63, but id

[2015-10-12 13:23] kotchuprik commented on #73
please show your code

[2015-10-12 14:02] nelli7 commented on #73
Here it is:
use baibaratsky\WebMoney\WebMoney;
use baibaratsky\WebMoney\Signer;
use baibaratsky\WebMoney\Request\Requester\CurlRequester;
use baibaratsky\WebMoney\Api\X\X2;

$webMoney = new WebMoney(new CurlRequester);

$request = new X2\Request;
$request->setSignerWmid('mywmid');
$request->setTransactionExternalId(1); // Unique ID of the transaction in your system
$request->setPayerPurse('mypurse

[2015-10-13 08:39] baibaratsky commented on #73
@nelli7, do you use the key file password or the password you use to log in to WM?

[2015-10-13 10:27] nelli7 commented on #73
@baibaratsky , I am using the password for my key file (kwm)

[2015-10-14 14:42] baibaratsky commented on #73
Is it the first time when you try to use X2 with this account? This error can appear if you already have requests made before, with greater request numbers than the library generates.

Also please double check if the payer purse belongs to WMID and both aren’t mistyped. WM returns this error in many cases, not only when the signature is wrong.

[2015-10-15 06:02] nelli7 commented on #73
It is the first time, I have not succeeded even once.I rewrited code a few times...
When I tried to do like described here http://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_X2
the answer was:cURL error number:60 cURL error:SSL certificate problem: unable to get local issuer certificate.
Could it be a problem?

[2015-10-15 09:58] kotchuprik commented on #73
the latter problem may be related to an wrong configuration of curl (for example: used version of ssl).

about main problem:
- you have tested with unique `transactionExternalId` value?
- can you show `$response->getRawData()`?

[2015-10-15 13:11] nelli7 commented on #73
$response->getRawData()   shows this:
144491272682877-14signature is incorrect. planstr=1444912726828771999Z414407734014Z6444698386320.010Test payment0 step=5

$request->setTransactionExternalId(1); - I tried different values..

[2015-10-15 16:24] kotchuprik commented on #73
@baibaratsky do you remember what you fixed for https://github.com/baibaratsky/php-webmoney/issues/63#issuecomment-87891793 ?

[2015-10-15 20:44] baibaratsky commented on #73
@kotchuprik see this commit 110a883011a18c77d79c4d3414938b7e88a949e9

[2015-10-15 20:51] kotchuprik commented on #73
@nelli7 I have looked your signature string and code again... I have an question — Why `invoiceId` is 0? `invoiceId` is `wminvid` in WM [docs](http://wiki.wmtransfer.com/projects/webmoney/wiki/Interface_X2).

Please read this:

And read [this](https://github.com/baibaratsky/php-webmoney/issues/63#issuecomment-88400733) (the latter comment)

[2015-10-15 23:48] baibaratsky commented on #73
@kotchuprik

It’s ok.

[2015-10-16 06:45] nelli7 commented on #73
I used TransactionExternalId with values 1, 2 too..
I set setInvoiceId(12) , but got the same mistake. If the problem was in key file, I guess I would get another error earlier?

[2015-10-16 08:05] baibaratsky commented on #73
@nelli7 You could try to generate a new key file in Keeper. I have reports from some users that it can solve some problems.

[2015-10-16 08:16] nelli7 commented on #73
Thank you for your help, if I solve the problem I write solution here.

[2015-10-16 08:24] baibaratsky commented on #73
I think you need to contact the WM support to discover what does this error really mean.

[2015-10-21 19:07] nelli7 commented on #73
WM support couldn't help unfortunately. I tried to display this:
$request->sign(new Signer('392452635802', (\Yii::$app->basePath).'/folder/my.kwm', 'password'));
echo $request->sign(new Signer('392452635802', (\Yii::$app->basePath).'/folder/my.kwm', 'password'))."kkk";

But it is empty. Should it be like this?

[2015-10-21 19:41] kotchuprik commented on #73
https://github.com/baibaratsky/php-webmoney/blob/master/Api/X/X2/Request.php#L117

sign doesn't has any return value.

try:

[code]

and will see [signature](https://github.com/baibaratsky/php-webmoney/blob/master/Request/AbstractRequest.php#L16) value

[2015-10-22 06:56] nelli7 commented on #73
Thank you! Here is the answer:
baibaratsky\WebMoney\Api\X\X2\Request::__set_state(array( 'signerWmid' => '392452635802', 'transactionExternalId' => 1, 'payerPurse' => 'Z414407734014', 'payeePurse' => 'Z644469838632', 'amount' => 0.01, 'protectionPeriod' => 0, 'protectionCode' => NULL, 'description' => 'Test payment', 'invoiceId' => 0, 'onlyAuth' => 1, 'authType' => 'classic', 'requestNumber' => '1

[2015-10-22 07:01] baibaratsky commented on #73
For sure. Are [BCMath](http://www.php.net/manual/en/book.bc.php) and [GMP](http://www.php.net/manual/en/book.gmp.php) set up correctly?

[2015-10-22 07:47] nelli7 commented on #73
GMP  wasn't set up, now both modules are set up and work, I called a few functions to check if they work, but still I have got these 000000...

[2015-10-26 17:40] baibaratsky commented on #73
[code]
What’s in output?

[2015-10-29 23:54] baibaratsky commented on #73
@nelli7 please don't post your output, just say, are there big numbers or lots of nulls?

[2015-11-03 19:26] nelli7 commented on #73
@baibaratsky , output is just one NULL and Payment error: signature is incorrect..

[2015-11-03 19:57] baibaratsky commented on #73
`var_export($signer);` returns NULL?
So, you need to check the installation of **php-wmsigner** (should be installed automatically by Composer).

[2015-11-05 07:25] nelli7 commented on #73
I checked, it was installed, I've updated it, but there was nothing to install or update..

[2015-11-05 07:53] baibaratsky commented on #73
There's something wrong with your installation or php configuration, I think. `$signer` shouldn't be NULL, it should contain an object.

[2015-11-05 08:29] nelli7 commented on #73
I installed php like this  sudo apt-get install php5-fpm php5-mysql , but I do not know how to configurate it then...

[2015-11-05 08:33] baibaratsky commented on #73
You have to find out why a Signer object is not created.

[2015-11-23 15:17] #38 closed

[2015-11-29 17:28] paurlift opened #86 "Интерфейс X2, trans\wminvid"
Здравствуйте, подскажите, пожалуйста, где взять значение trans\wminvid  ?

В описание интерфейса сказано следующее - trans\wminvid	- это номер счета (в системе WebMoney), по которому выполняется перевод, целое число > 0; если 0 - перевод не по счету.

Устанавливается он функцией $request->setInvoiceId(0);
Если указывать wminvid	 равным 0, то перевод как будто происходит, в ответ приход код ответа

[2015-11-29 18:37] baibaratsky commented on #86
Очевидно, проблема в чем-то другом. Если wminvid=0, платежи отлично проходят.

[2015-11-30 00:04] roman-rybalko commented on #86
У вас возможно включен тестовый режим в merchant.

[2015-11-30 00:51] paurlift commented on #86
Спасибо за помощь и вправду все работает с 0. Списание и поступление почему-то не сразу отобразились.

[2015-11-30 00:51] #86 closed

[2015-11-30 20:05] baibaratsky commented on #73
@nelli7 how are you doing? Is the issue still relevant?

[2016-01-10 16:41] #73 closed

[2016-02-10 22:13] hitman2599 opened #88 "Uncaught exception 'Exception' with message 'Hash check failed. Key file seems to be corrupted.'"
Hello.

I get this error :

root@s15:/home/wmz3# php test1.php
PHP Fatal error:  Uncaught exception 'Exception' with message 'Hash check failed. Key file seems to be corrupted.' in /home/wmz3/vendor/baibaratsky/php-wmsigner/Signer.php:53
Stack trace:
#0 /home/wmz3/test1.php(14): baibaratsky\WebMoney\Signer->__construct('XXXX10261095', 'XXXX10261095.kw...', 'Password1234!@#...')
#1 {main}
  thrown

[2016-02-11 07:37] baibaratsky commented on #88
If I got it right, you use your account password instead of the key password. Is it true?

[2016-02-11 12:14] hitman2599 commented on #88
Thank you for the answer. There are two different things??? i didn't even know ... aren't they the same? and if no, where i could get this KEY PASSWORD ??

[2016-02-11 12:22] baibaratsky commented on #88
You input it when generating a key. If you can’t recall it, just create a new key.

[2016-02-11 12:27] hitman2599 commented on #88
So i must create a new key with WINPRO (http://www.webmoney.ru/rus/information/manage/winpro.shtml) or i must submit a request to webmoney?

[2016-02-11 12:38] baibaratsky commented on #88
Use WinPro.

[2016-02-12 15:31] ZdamaSyi opened #89 "AUTH_LIGHT"
Пропишите плз в доках где-то, что при работе с сертификатами light недостаточно закоментить sign и раскоментить cert, надо еще указать authType при создании объекта Request
в моем случае, я решил это так

Полдня убил на борьбу с сертификатами, пока не сообразил что дело в URL, подставлялся

вместо

При этом вываливалась ошибка

[2016-02-12 19:05] #89 closed

[2016-02-24 22:01] hitman2599 commented on #88
I have double check with my team, the KVM password is the same as the ACCOUNT password, i have seen with my eyes when i try to log with WINPRO. Why gives me that error?

The ideea is that the KVM  key was generated on PC1 (windows) and i am trying to make an API for our SERVER1 (linux).

Do i do something wrong?

Thanks.

[2016-02-25 05:38] baibaratsky commented on #88
There is no problem to use on a Linux system a key generated on Windows.
Did you try to create a new key?

[2016-03-07 08:38] Ellome opened #90 "Error while performing request (Unknown SSL protocol error in connection to w3s.webmoney.ru:443 )"
`
        $webMoney = new WebMoney(new CurlRequester);

[code]

`

baibaratsky\WebMoney\Exception\RequesterException
Error while performing request (Unknown SSL protocol error in connection to w3s.webmoney.ru:443 )

How can this be fixed?

[2016-03-12 06:16] #88 closed

[2016-03-12 06:22] baibaratsky commented on #90
Please try to change values from 0 to 6 in this line and run your code:
https://github.com/baibaratsky/php-webmoney/blob/master/Request/Requester/CurlRequester.php#L33
Report me if any is successful.

[2016-03-12 07:36] Ellome commented on #90
3 - OK.

Thank you!

[2016-04-19 08:50] gydween opened #91 "X2 без кода протекции"
Добрый день!

При использовании протокола X2 не использую код протекции

        $request = new X2\Request;
        $request->setRequestNumber($requestNumber);
        $request->setTransactionExternalId($payoutId);
        $request->setPayeePurse($payeeAccount);
        $request->setAmount($payeeAmount);
        $request->setDescription($description);
        $request->setPayerPurse($payerPurse);

[2016-04-19 09:09] baibaratsky commented on #91
Добрый день!
Видимо, WebMoney изменили API. В ближайшее время внесу соответствующие исправления.

[2016-04-20 08:42] romankazakov commented on #66
0)Из строки уберите лидирующие и конечные пробелы.
1)Подпись вычислять по строке в windows-1251.

[2016-04-20 08:43] kotchuprik commented on #66
Я думаю, что проблема уже решена. Если вопрос не поднимался

[2016-04-20 08:50] kotchuprik commented on #91
Андрей, видимо, надо пинать саппорт. Потому что документация так и не изменилась, 0 — если протекция не нужна. Как бы не вышло, что через несколько дней вернется старая логика.

[2016-04-20 08:52] baibaratsky commented on #91
@kotchuprik Да, я так и хотел. К сожалению, пока совсем не до этого.

@gydween Может, уточните у саппорта WebMoney, что сейчас актуально?

[2016-04-20 08:56] gydween commented on #91
Хорошо, поробую уточнить

[2016-04-20 09:09] kotchuprik commented on #91
Только чтобы сэкономить время, рекомендую все запросы сразу им дать :) Они тормознее Почты России, некоторые проблемы можно неделю решать.

[2016-04-20 09:31] gydween commented on #91
@kotchuprik Спасибо за рекомендацию! Отписал им

[2016-04-20 13:53] gydween commented on #91
Webmoney ответили (как оказалось быстро)

Проблема с моей стороны. Не верно форматирую сумму платежа.
(число с плавающей точкой (разделитель - .(точка) ) и для десяти с половиной может выглядеть так: 10.5; незначащие нули в конце и точка, если число целое, должны отсутствовать, например, 10.50 - не верно, 10.5 - верно, 9. - не верно, 9 - верно))

Т.е. сумма 0.10 должна передаваться интерфейсу как

[2016-04-20 13:54] kotchuprik commented on #91
Интересный случай :)

[2016-04-20 13:54] #91 closed

[2016-04-20 14:04] romankazakov commented on #66
У меня возникла такая же проблема, на известном тебе сайте. Здесь я решения не нашёл.

[2016-04-20 14:05] kotchuprik commented on #66
@romankazakov уже решил надеюсь?) Если нет, писани в скайп, попробую помочь :)

[2016-04-20 14:08] romankazakov commented on #66
Костя, я решение выше описал.

[2016-04-20 14:10] kotchuprik commented on #66
А, ну ок. По идее, строка и не должна быть с пробелами вначале и в конце, вебмани это не любит. Ровно как и любит вин1251. Это очень важные моменты

[2016-04-20 14:24] baibaratsky commented on #91
Передаваться они, думаю, могут в любом виде, но для вычисления подписи будет использоваться float.

[2016-05-12 22:12] rolmonk opened #92 "X2 - ошибка валидации onlyauth"
В интерфейсе X2 в запросе при присвоении onlyauth принудительно приводится к `(bool)`, а поскольку для X2 он обязателен - `validateRequired` проверяет его на `is_numeric()`, что приводит к ошибке валидации в любом случае. Поскольку в доках вебманей возможные значения указаны как `0` и `1`, думаю, проще всего приводить его к `(int)`

[2016-05-13 11:41] baibaratsky commented on #92
@rolmonk проверьте, пожалуйста, мой вариант. Все-таки я думаю, лучше работать с bool и правильно его валидировать.

[2016-05-13 13:09] rolmonk commented on #92
Да, так тоже работает, спасибо!

[2016-05-15 10:24] #92 closed

[2016-07-15 13:58] vitalijssilins opened #97 "Create new validation rule when one parameter is non mandatory if other is specified"
There is need of validation rule, when one parameter becomes non-mandatory if other parameter is specified.

Example:
payment/purse and payment/phone parameters in WMC1 interface:
https://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_WMC1

[2016-08-02 14:21] stas17 opened #98 "Исправить проблемы с приведением типа"
Привет, нашел ошибку. в baibaratsky\WebMoney\Api\X\X22\Request

    /**
     * @param string $payeePurse lmi_payee_purse
     */
    public function setPayeePurse($payeePurse)
    {
        $this->payeePurse = (int)$payeePurse;
    }

соответственно надо (int) на (string)

    /**
     * @param string $payeePurse lmi_payee_purse
     */
    public function setPayeePurse($payeePurse)
    {

[2016-08-02 15:01] #98 closed

[2016-08-02 15:01] baibaratsky commented on #98
Спасибо за репорт!

[2016-08-11 10:53] stas17 opened #99 "Накатить версию))"
Изменения внесенные 2 августа не добавлены в версию, можно плз накатить новую.

Еще раз спасибо за либу

[2016-08-11 15:26] baibaratsky commented on #99
Скоро будет. Сейчас еще один апдейт приготовим.

[2016-08-11 19:10] baibaratsky commented on #97
@kotchuprik Validators is your area, so do anything please ;)

[2016-08-12 07:04] kotchuprik commented on #97
I think we can try to use TYPE_DEPEND_REQUIRED rule. @vitalijssilins could you try something like this?

[code]

I'm sure that this looks not fine but I'm not sure that we need to do yet validation rule if this will be working.

Example for using depend required rule [here](https://github.com/baibaratsky/php-webmoney/blob/b33950b8694ce4f56d1c06a77d4962231ec86912/Api/MegaStock/AddMerchant/Request.p

[2016-08-12 09:33] CheckThis0ut opened #100 "Интерфейс X2 / Signature is incorrect / Step=6"
Здравствуйте, работа с интерфейсом X2 работает с попеременным успехом: иногда всё отрабатывает корректно, а иногда валится ошибка:
http://img.netpeak.ua/chinaski/2016-08-12_74c912.jpg

Как вы видите, комментарии есть как на латинице, так и на кириллице. Никак не могу найти причину бага, гуглил - везде у всех ошибки step=5, а у меня еще и step=6. Можете помочь? Заранее спасибо!

[2016-08-12 09:36] kotchuprik commented on #100
Если работает и не работает, но код не менялся, то проблема не в библиотеке, а в вебмани. То есть в первую очередь стоило написать в саппорт. Вы это сделали?

В ответе какой код выполнения запроса? -14?

[2016-08-12 10:11] CheckThis0ut commented on #100
Я думал, может что с кодировкой или какие-то знаки нельзя писать в описании, что-то в таком духе.

Да, жду ответа. Но я слабо верю, что они могут как-то помочь, у них же ровное API, я надеюсь))

Да.

[2016-08-12 10:31] kotchuprik commented on #100
То есть с латинским описанием транзакции без # и прочих символов транзакции проходят?

[2016-08-12 12:04] CheckThis0ut commented on #100
Тут сплошной рандом, иногда и латиница не проходит. Бывает даже так: создаём транзакцию - валится ошибка, через время создаем еще раз (все данные те же самые) - уже всё норм.

[2016-08-12 12:05] kotchuprik commented on #100
И еще раз вижу подтверждение, что апи бажит :) Тогда предлагаю ждать ответа саппорт и тогда уже как-то пытаться решить проблему. В данный момент бага звучит как поиск иглы в стоге сена, библиотека сейчас используется в проде и проблем с Х2 нет.

[2016-08-12 12:17] baibaratsky commented on #100
Зря надеетесь 😉

[2016-08-18 11:46] #100 closed

[2016-08-18 11:54] baibaratsky commented on #99
Enjoy!
https://github.com/baibaratsky/php-webmoney/releases/tag/v0.15.0

[2016-08-18 11:54] #99 closed

[2016-08-29 17:32] myselfgaurav opened #101 "i want to integrate webmoney payment gateway can you help"
i want to integrate webmoney payment gateway can you help

[2016-08-29 18:39] kotchuprik commented on #101
hi, what you want to hear to this issue?

[2016-08-31 12:50] stas17 opened #102 "Проблемы с SSL в CurlRequester."
#90
Снова здравствуйте.
При установке версии ssl = 1
`curl_setopt($handler, CURLOPT_SSLVERSION, 1);`
получаю
**Error while performing request (Unknown SSL protocol error in connection to w3s.webmoney.ru:443 )**

При установке версии ssl = 4 все гуд (версии 2 и 3 не безопасны)

Есть у меня мнение, что я что то не так делаю с версией 1, но получилось поправить только сменой  версии.

Может быть доба

[2016-08-31 12:59] stas17 commented on #90
3 - not ok.
http://disablessl3.com/

[2016-08-31 13:23] kotchuprik commented on #102
привет,

у вебмани был прикол, что на одном из роутов другая версия ssl только работала, сейчас не смогу сказать в каком

да, неплохая идея. @baibaratsky, что скажешь?

может быть pull request? :)

[2016-08-31 13:41] stas17 commented on #102
CURL_SSLVERSION_TLSv1_0 (integer)
Доступна начиная с версий PHP 5.5.19 и 5.6.3
CURL_SSLVERSION_TLSv1_1 (integer)
Доступна начиная с версий PHP 5.5.19 и 5.6.3
CURL_SSLVERSION_TLSv1_2 (integer)
Доступна начиная с версий PHP 5.5.19 и 5.6.3

учитывать совместимость с php version < 5.5.19?

[2016-08-31 13:42] kotchuprik commented on #102
О, это очень крутой вопрос. У нас совместимость 5.3 и выше. Поэтому, пройдем мимо системных констант ))

[2016-08-31 14:04] stas17 commented on #102
remote: Permission to baibaratsky/php-webmoney.git denied to stas17.
fatal: unable to access 'https://github.com/baibaratsky/php-webmoney.git/': The requested URL returned error: 403

[2016-08-31 14:07] kotchuprik commented on #102
https://help.github.com/articles/about-pull-requests/

[2016-08-31 14:24] baibaratsky commented on #102
@stas17 На каких интерфейсах наблюдаете проблему? Есть у меня подозрение, что разные интерфейсы ведут себя по-разному.

[2016-08-31 14:30] stas17 commented on #102
@baibaratsky  x2

[2016-08-31 14:32] stas17 commented on #102
https://github.com/baibaratsky/php-webmoney/pull/103
добавил метод
есть еще идея с отловом ошибки и повторным запросом с другой версией ssl

[2016-08-31 14:36] baibaratsky commented on #102
@stas17 Попробуйте, пожалуйста, X3 с версиями 1 и 4.

Не уверен, что нужен такой метод, если мы найдем версию, которая будет работать для всех.

[2016-08-31 14:50] stas17 commented on #102
для x3 история повторяется
ssl v1 - ошибка
ssl v4 - работает

[2016-09-02 08:33] stas17 commented on #102
поднимаю тему.
Всем привет.

[2016-09-02 09:52] baibaratsky commented on #102
Прошу прощения. Свободного времени очень мало.

[2016-09-02 09:55] #102 closed

[2016-09-02 09:57] baibaratsky commented on #102
Спасибо за ваш вклад!

[2016-09-02 09:58] stas17 commented on #102
Спасибо за оперативную реакцию.

[2016-09-16 11:25] ange007 opened #104 "Работа с сертификатом от Keeper Lite"
По какой-то причине не выходит работать с сертификатом **Keeper Light**.
Выпадаёт ошибка:  `PHP Fatal error:  Call to undefined method baibaratsky\\WebMoney\\Api\\X\\X3\\Request::lightAuth() in *`

Собственно код:
[code]
В чём может быть причина такого поведения?

[2016-09-16 18:34] kotchuprik commented on #104
1) Версия последняя установлена?
2) В файле `php-webmoney/Api/X/Request.php` lightAuth есть?
3) `var_export($request)` что дает?

[2016-09-16 18:40] ange007 commented on #104
2) В файле php-webmoney/Api/X/Request.php lightAuth есть?
3) var_export($request) что дает?

Прошу прощения, версия была не новая _(зависимость ставил по данным из Readme)_.

**З.Ы.** Кстати в Readme не плохо было-бы добавить информацию как делать сертификаты от Light в правильном формате _(а то даже не понятно какие именно файлы должны быть)_. Пол дня мозги ломал.

[2016-09-16 18:40] #104 closed

[2016-09-16 19:19] kotchuprik commented on #104
А либа разве является мануалом по пользованию вебмани?)

[2016-09-16 20:00] ange007 commented on #104
Нет, но я например не нашёл в мануалах какие именно файлы нужны.
А так для тех кто юзает либу - это важно, и избавило бы от многих вопросов _( достаточно ведь указать расширения файлов даже)_.

[2016-09-16 20:02] kotchuprik commented on #104
Репозиторий всегда открыт к пулл реквестам :)
Если есть желание, то создайте ишью со ссылкой на мануал и его добавим в WIKI

[2016-10-07 05:44] Sentoki opened #105 "Снова Unknown SSL protocol error in connection to w3s.webmoney.ru:443"
На этот раз уже явно не в библиотеке, но где ещё найти людей которые наступали на эти грабли?

Суть - локально у себя я получаю эту ошибку. Ubuntu 16.04, PHP 7.0.11.

curl_version(); возвращает такое: http://dl2.joxi.net/drive/2016/10/07/0001/1232/66768/68/4a06312d4d.jpg

При этом у коллеги в gentoo всё отрабатывает корректно, у него curl_version(); выдаёт такое: http://dl2.joxi.net/drive/2016/10/

[2016-10-07 08:49] Sentoki commented on #105
В общем сравнил verbose вывод с машин где запрос отрабатывал и где не отрабатывал, вместо стандартного CURLOPT_SSLVERSION 1 указал 4, потому что в "хорошем" verbose выводе было написано
* SSL connection using TLSv1.0 / DES-CBC3-SHA
Только я не понял на самом деле чем CURL_SSLVERSION_TLSv1_0 отличается от CURL_SSLVERSION_TLSv1. Попозже нужно почитать.

[2016-10-07 08:49] #105 closed

[2016-10-21 15:26] stas17 opened #106 "помогите"
есть вот такая ошибка, в что надо настроить, что бы все поправилось

[code]

[2016-10-21 15:35] stas17 commented on #106
использую x22

[2016-10-21 16:03] baibaratsky commented on #106
@stas17 Думаю, это вопрос, который нужно задать сапорту WebMoney.

[2016-10-21 16:18] #106 closed

[2016-11-29 18:16] sha256-of-poop opened #108 "Issue with SimpleXMLElement"
Hello,
Thank you for this amazing library,

Every few days (not always) I have something like this logged into error_logs:

[code]

Another Example

[code]

Is this an issue I should be worried about?

(Sorry for posting this on wm-signer first, was a mistake)

[2016-11-29 19:54] baibaratsky commented on #108
@sha256-of-poop Looks like a WebMoney bug or like a network error (the latter should be checked).

[2016-11-29 20:18] sha256-of-poop commented on #108
@baibaratsky

Thank you, so nothing related to this repo.
and thanks again for such an amazing library.

[2016-11-29 20:18] #108 closed

[2017-01-09 23:23] mastermind-ua opened #109 "Проблемы с авторизацией AUTH_LIGHT"
Возникли проблемы с использованием интерфейса X4. Запрос следующего вида:
[code]

Ответ:
[code]

Решение проблемы:
[https://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_X4](url)

При этом в коде запросы идут на другой домен

Аналогичная ситуация, судя по всему, и по другим интерфейсам. Но они почему-то работают.

[2017-01-09 23:41] kotchuprik commented on #109
Я верно понимаю, что вы используете Light авторизацию? Остальные интерфейсы точно не работают? Например X11

[2017-01-09 23:53] mastermind-ua commented on #109
Да, авторизация Light. X11 проверить возможности нет, к сожалению. X1, X2, X9 работают, но там урлы правильные. X4 заработал только после замены урла на тот, который в доке.

[2017-01-09 23:56] kotchuprik commented on #109
Давай пулл реквест и смержим завтра :) Возможно, X4 просто не тестировали на лайте, мы классик юзаем в основном.

[2017-01-10 01:35] mastermind-ua commented on #109
Этот интерфейс я проверял на новом урле. Там еще два осталось, X15 и X19.

[2017-01-10 09:55] #109 closed

[2017-01-10 09:57] #101 closed

[2017-02-14 13:28] sergek99 opened #111 "x19"
для работы с x19 обязательно нужен kwm файл или достаточно light_auth (key, cer, pass)

[2017-02-14 13:33] baibaratsky commented on #111
Можно light

[2017-02-14 14:27] sergek99 commented on #111
а как подписать через light?

[2017-02-14 14:45] baibaratsky commented on #111
https://github.com/baibaratsky/php-webmoney#authentication-with-a-light-certificate

[2017-02-14 15:18] sergek99 commented on #111
но это только x9
а в x19 это не работает

[2017-02-14 15:25] baibaratsky commented on #111
Для X19 все так же. Прежде, чем делать подобные заявления, неплохо бы приложить доказательство в виде неработающего кода. Желательно с анализом и выводами, почему он не работает.
Вы пока первый, у кого не работает, так что я склонен считать, что проблема в вашем коде.
Тот код, который вы мне присылали по email не будет работать. Я вам написал, почему.

[2017-02-14 15:42] sergek99 commented on #111
параметр passport.request/sign про который я написал - это и есть подпись запроса
[sign	подпись запроса	обязательный параметр, формируется из параметров: //reqn + //operation/type + //userinfo/wmid; используется только при авторизации с ключами WM Keeper WinPro (Classic) ](http://wiki.webmoney.ru/projects/webmoney/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_X19)

он добавляется тол

[2017-02-14 15:42] sergek99 commented on #111
и значит что без kwm x19 бесполезен

[2017-02-14 16:18] baibaratsky commented on #111
 Все верно. Если вы отправляете запрос на XMLCheckUser.aspx, этот параметр обязателен. Чтобы отправлять на XMLCheckUserCert.aspx, нужно правильно создавать запрос:
[code]

[2017-02-14 16:20] sergek99 commented on #111
Fatal error: Uncaught baibaratsky\WebMoney\Exception\RequesterException: Error while performing request (could not load PEM client certificate, OpenSSL error error:02001002:system library:fopen:No such file or directory, (no key found, wrong pass phrase, or wrong file format?)) in /Users/sketcompani/Work/Projects/ultragold/ultragold.org/web/vendor/baibaratsky/php-webmoney/Request/Requester/CurlReq

[2017-02-14 16:21] sergek99 commented on #111
я это получаю если использую $request = new Request(Request::AUTH_LIGHT);

[2017-02-14 16:24] #111 closed

[2017-02-14 16:27] sergek99 commented on #111
ну а где указать этот pem файл?

[2017-02-14 16:28] sergek99 commented on #111
в папке с ключами он у меня есть

[2017-03-01 09:57] procurator5 opened #112 "About debt service"
Can I taking his API for working with debt service?

[2017-03-01 10:05] kotchuprik commented on #112
why not? https://github.com/baibaratsky/php-webmoney/tree/master/Api/WMC

[2017-04-06 15:01] #112 closed

[2017-04-06 15:02] #97 closed

[2017-04-06 15:05] baibaratsky commented on #90
Resolved here https://github.com/baibaratsky/php-webmoney/commit/ae0778602966e59934c982ff523fb945fca367dd

[2017-04-06 15:05] #90 closed

[2017-05-06 21:08] ange007 commented on #104
Пришлось обновлять сертификат и снова искал информацию.

Возможно кому поможет: https://wiki.webmoney.ru/projects/webmoney/wiki/%D0%9A%D0%BE%D0%BD%D0%B2%D0%B5%D1%80%D1%82%D0%B0%D1%86%D0%B8%D1%8F_%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%B9_WM_Keeper_WebPro_%D0%B2_PEM-%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82

[2017-08-09 09:09] ryazanov13 opened #117 "X1 validation"
Webmoney X1 required no gap at the start/end of description and required win-1251 encoding (field invoice\desc), can you fix this

[2017-08-09 09:49] baibaratsky commented on #117
A the moment I don’t use this library at all. So I’m not going to fix anything by myself. You can wait until somebody fix it or you can send a pull request.

[2018-11-09 06:14] adibiut opened #120 "More detailed guide"
Hello dear baibaratsky. Thanks for your nice project.
I want to use webmoney API but am not a professional developer. I wish you could provide a more detailed step by step guide on how to use this project. for example when you say "Install Composer" or "Add the php-webmoney dependency", I don't know where I should execute the codes: "php composer.phar require baibaratsky/php-webmoney:0.16.*"
or fo

[2019-02-13 14:54] sirian opened #121 "Critical vulnerability - XML injection (possible attack vector)"
You should escape value to avoid xml spoofing. Look at this line
https://github.com/baibaratsky/php-webmoney/blob/64b52ab914606725dfbdcadc223aab52c3952114/Request/XmlRequest.php#L22

So using this bug, you could send fake request using xml comments with conjuction of `mb_convert_encoding` you used in X2 sign. I won't paste full exploit for security reasons.
just a little example of xml spoofing
``

[2019-02-13 15:01] sirian commented on #121
And a second problem - invalid requests when fields contains reserved xml characters.
`$request->setDescription("foo -> bar")`
`$request->setDescription("m&m's")`

[2019-02-15 16:47] baibaratsky commented on #121
I‘m not sure if someone wants to spoof his own requests. So if you mean it could happen in the case of putting user’s input in the `$request->setDescription()`, for sure, it’s possible. But cleaning the user’s input is not a purpose of this library. Of course, you have to check it and make it safe. You can use any solution, there are tons of them.

[2019-02-15 16:47] #121 closed

[2020-01-26 14:38] sahidul99 opened #123 "Getting errors"
Hi I just started to try webmoney api and tried first usage example.And I am getting bellowed mentioned errors

`
Warning: SimpleXMLElement::__construct(): Entity: line 3: parser error : Input is not proper UTF-8, indicate encoding ! Bytes: 0xED 0xE5 0xE2 0xE5 in {My Directories}/vendor/baibaratsky/php-webmoney/Api/X/X9/Response.php on line 24

Warning: SimpleXMLElement::__construct(): <retdesc>��

[2020-01-27 08:15] sahidul99 opened #124 "confused on parameters"
$request->setSignerWmid('YOUR WMID');
$request->setRequestedWmid('REQUESTED WMID');

Here what is 'Your WMID' and 'REQUESTED WMID'
I should have only one WMID

[2020-01-27 08:47] baibaratsky commented on #124
https://wiki.wmtransfer.com/projects/webmoney/wiki/Interface_X9

You can request information about another WMID. This WMID called “requested” here.

[2020-01-27 08:47] #124 closed

[2020-01-27 09:47] sahidul99 commented on #124
I want to get my purse balance, I tried by set both same wmid, that output
error step 13,
I tried with 2 different wmid, (both is mine), same response.
 I have tried by comment out and keep empty on requested wmid, both does
not print anything.

On Mon, 27 Jan 2020, 4:47 pm Andrei Baibaratsky, <notifications@github.com>
wrote:

[2020-01-27 10:14] sahidul99 opened #125 "issue on interface x2"
`<?Php
require_once(__DIR__ . '/vendor/autoload.php'); // Require autoload file generated by composer
use baibaratsky\WebMoney\WebMoney;
use baibaratsky\WebMoney\Signer;
use baibaratsky\WebMoney\Request\Requester\CurlRequester;
use baibaratsky\WebMoney\Api\X\X2;
$webMoney = new WebMoney(new CurlRequester);

$request = new X2\Request;
$request->setSignerWmid('');//my wmid
$request->setTransactionEx

[2020-05-28 15:54] arif7576 commented on #125
$request->setTransactionExternalId(“Mus be use random transaction I’d”)); //

[2020-08-21 09:14] davemodis opened #126 "Возвращает ложно-положительное значение в некоторых случаях."
https://github.com/baibaratsky/php-webmoney/blob/12434d508d43bbc9f41f97da57d5173e5342d367/Api/X/X8/Response.php#L40

Решение: Операция должна быть побитовое И (&), а не сравнение (>=).

[2020-11-13 07:46] allfreelancers opened #127 "X9 - 403 - Forbidden: Access is denied."
403 - Forbidden: Access is denied.
You do not have permission to view this directory or page using the credentials that you supplied.

[code]

почему? в чем может быть проблема?

[2020-11-13 09:02] allfreelancers commented on #127
@baibaratsky есть мысли?

[2020-11-13 11:41] baibaratsky commented on #127
@allfreelancers, нет. Я уже несколько лет не работаю с API WebMoney, так что не могу ничего по нему подсказать.

[2020-11-15 17:09] ebrahimsalahi opened #128 "Couldn't request interface_x9"
require_once(__DIR__ . '/vendor/autoload.php'); // Require autoload file generated by composer

use baibaratsky\WebMoney;
use baibaratsky\WebMoney\Signer;

$webMoney = new WebMoney\WebMoney(new WebMoney\Request\Requester\CurlRequester);

$request = new WebMoney\Api\X\X9\Request;
$request->setSignerWmid('522-----7401');
$request->setRequestedWmid('522*****7401');

$request->sign(new Signer('522----

[2020-11-16 09:58] ebrahimsalahi commented on #128
@baibaratsky please help

[2020-11-16 10:03] baibaratsky commented on #128
Can’t help, sorry. Try to ask WebMoney support.

[2021-03-30 16:25] Den4X opened #129 "WMP is absent in the X19 classes"
const PURSE_WMZ = 'WMZ';
    const PURSE_WMR = 'WMR';
    const PURSE_WME = 'WME';
    const PURSE_WMU = 'WMU';
    const PURSE_WMB = 'WMB';
    const PURSE_WMY = 'WMY';
    const PURSE_WMG = 'WMG';

[2021-04-01 11:28] #129 closed

[2021-04-20 04:50] ShahabBahmani opened #131 "X19 request returns 500 status code"
After requesting to X19 interface we get  this error message : String could not be parsed as XML in file ...//vendor/baibaratsky/php-webmoney/Api/X/X19/Response.php on line 29.
 This error is occurred because the api endpoint is changed and we should send requests to new api endpoint but the X19/Request.php  uses old endpoint.
Base on webmoney [wiki](https://wiki.wmtransfer.com/projects/webmoney/w

[2021-04-20 09:37] baibaratsky commented on #131
So if you need this change, send a pull request please.

[2021-04-27 11:16] baibaratsky commented on #131
Fixed in #132

[2021-04-27 11:16] #131 closed

[2021-04-28 06:51] ShahabBahmani commented on #131
Thank you so much, It was so useful for me

On Tue, Apr 27, 2021 at 3:46 PM Andrei Baibaratsky ***@***.***>
wrote:

[2022-08-30 10:30] kosar501 opened #133 "cert && key"
Hi, Can you help me with certificate file && key??
should I get them from webmoney api??